<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/nootstrap.min.css'>
    <title>Translating Leetspeak, again</title>
</head>
<body>
    <div class='container'>
        <h1>Translating Leetspeak, again</h1>
        <h3>Your phrase, in Leetspeak:</h3>
        <p>"{{ phrase }}"</p>
        <a href='/'>once more</a>
    </div>
</body>
</html>
